html, body {
	margin:0;
	padding:0;
}


header {
	height:100px;
	width: 100%;

	color: #FFF;

	background-color: #000;
}

div#output {
	height: 300px;
	width: 100%;
}

div#action {
	height: 200px;
	width:100%;

	background-color: #CCC;
}

footer {
	height: 50px;
	width:100%;
	position: absolute;
	bottom: 0px;

	color: #FFF;

	background-color: #000;

}